body {
background-color: #dad7d7;
}

#title, .subtitle, .post_title {
color: #3b4d8a;
}

#title {
    text-transform:uppercase;
}

.photo {
    border: 3px solid #b6ff00;
    border-radius: 50%;
}

a {
    text-decoration: line-through;
    color:blueviolet;

}

.post_title {
font-size: 16px;
font-style: italic;
}

.post {
    background-color: #b6ff00;
    marging: 5px solid #b6ff00;
    padding: 15px;
    border: 5px solid #000000;
    border-top: 15px solid #000000;
    border-radius: 5px;
    text-transform: capitalize;
    text-align: justify;
}

.lista {
    list-style-type: none;
    padding-left: 15px;
}

.lista li a {
        text-decoration: none;
}